/* Taustapilt kogu lehe ulatuses */
body {
    background: url('https://coolbackgrounds.io/images/backgrounds/index/forest-9d99d6f0.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Banneri osa */
.banner {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #FFB300; /* Tumekollane raam */
}

h1 {
    font-size: 100px;
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.slogan {
    font-size: 30px;
    font-style: italic;
}

/* Sisu osa */
.main-content {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.text-container {
    margin-bottom: 20px;
    width: 80%;
}

.text {
    font-size: 20px;
    line-height: 2.0;
}

.image-container img {
    width: 600px;
    height: 100px;
    margin-bottom: 100px;
    object-fit: cover;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

/* Jaluse osa */
footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-text {
    font-size: 32px;
    padding: 40px;
    color: white;