body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}


.banner {
  background: linear-gradient(to bottom, #007b8a, #f29e66);
  padding: 50px 20px;
  text-align: center;
}

.banner img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid gold;
  margin-bottom: 10px;
}

.banner h1 {
  font-size: 50px;
  color: white;
  margin: 10px 0;
}

.slogan {
  font-size: 20px;
  font-style: italic;
  color: white;
  margin-top: 10px;
}


.content {
  background-color: white;
  padding: 60px 20px;
}

.content-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}


.content-image {
  width: 400px;  
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  border-radius: 8px;
}

.main-text {
  display: inline-block;
  width: 600px;
  vertical-align: top;
  font-size: 18px;
  line-height: 1.8;
}


footer {
  background-color: gold;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
}
